.box {
  position: fixed;
  top: 30vh;
  left:25%;
  width: 50%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
}

.submission {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
